PORT=3000
CORS_WHITELIST=http://localhost:5173,http://localhost:5174
JWT_SECRET=7b67127b9cb66385d1971c50d64cf4c4912be22f40231f64c90d4cc47a0e23dc


MONGODB_USERNAME=admin
MONGODB_PASSWORD=admin
MONGODB_PORT=27017
MONGODB_URL=mongodb://admin:admin@localhost:27017
MONGODB_URL_DOCKER=mongodb://admin:admin@mongo:27017

MONGO_EXPRESS_PORT=8081
MONGO_EXPRESS_USERNAME=admin
MONGO_EXPRESS_PASSWORD=admin