API_PORT=5050
CORS_WHITELIST=http://localhost:5050,http://localhost:3000
JWT_SECRET=your_jwt_secret_key

MONGODB_USERNAME=admin
MONGODB_PASSWORD=admin
MONGODB_PORT=27017
MONGODB_URL=mongodb://admin:admin@mongo:27017

MONGO_EXPRESS_PORT=8081
MONGO_EXPRESS_USERNAME=admin
MONGO_EXPRESS_PASSWORD=admin