* 

!src
!src/**/*
!.gitignore
!.nvmrc
!.prettierrc
!docker-compose.local.yaml
!eslint.config.js
!LICENSE
!nest-cli.json
!package.json
!pnpm-lock.yaml
!README.md
!tsconfig.build.json
!tsconfig.json
!.env.example